p{
  margin: 0;
}

.menu{
  display: flex;
  flex-direction: column;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  justify-content: space-between;
}

.menu-item{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.amount{
  background-color: rgb(81, 104, 255);
  color: white;
  font-weight: bold;
  border-radius: 100%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
}